@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-plusJakartaSans;
  }
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.advert_background {
  background-image: url("../public/testCarPictures/carAdBackground.png");
  background-size: 100%;
}

.white_car_ad {
  background-image: repeating-radial-gradient(
    circle at 35% 80%,
    #66b4fc 0% 5%,
    #5caffc 0% 15%
  );
}

.black_car_ad {
  background-image: url("../public/pngs/car-ad-background.png");
  background-size: 100% 100%;
}

.smoke_list {
  position: absolute;
  list-style: none;
  width: 15px;
  height: 15px;
  background-color: rgb(190, 190, 190);
  border-radius: 50%;
}
.smoke_list:nth-child(even) {
  animation: animateEven 1s linear infinite;
}
.smoke_list:nth-child(odd) {
  animation: animateOdd 1s linear infinite;
}
@keyframes animateEven {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.8;
    filter: blur(1px);
  }
  100% {
    transform: translate(-75px, -100px) scale(3);
    opacity: 0;
    filter: blur(3px);
  }
}
@keyframes animateOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.8;
    filter: blur(1px);
  }
  100% {
    transform: translate(-100px, -100px) scale(3);
    opacity: 0;
    filter: blur(3px);
  }
}
.smoke_list:nth-child(1) {
  animation-delay: 0s;
}
.smoke_list:nth-child(2) {
  animation-delay: 0.1s;
}
.smoke_list:nth-child(3) {
  animation-delay: 0.2s;
}
.smoke_list:nth-child(4) {
  animation-delay: 0.3s;
}
.smoke_list:nth-child(5) {
  animation-delay: 0.4s;
}
.smoke_list:nth-child(6) {
  animation-delay: 0.5s;
}
.smoke_list:nth-child(7) {
  animation-delay: 0.6s;
}
.smoke_list:nth-child(8) {
  animation-delay: 0.7s;
}

.sky_animation {
  animation: dayToNight 5s linear infinite;
}

@keyframes dayToNight {
  0% {
    background-color: #030338;
  }
  40% {
    background-color: #87ceeb;
  }
  50% {
    background-color: #87ceeb;
  }
  90% {
    background-color: #030338;
  }
  100% {
    background-color: #030338;
  }
}

.sun_moon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: sunToMoon 5s linear infinite;
}

@keyframes sunToMoon {
  0% {
    transform: translate(100px, -200px);
    background-color: white;
    filter: blur(2px);
  }
  20% {
    transform: translate(-100px, 100px);
    background-color: white;
    filter: blur(2px);
  }
  21% {
    transform: translate(-100px, 100px);
    background-color: yellow;
    filter: blur(2px);
  }
  40% {
    transform: translate(100px, -200px);
    background-color: yellow;
    filter: blur(2px);
  }
  50% {
    transform: translate(100px, -200px);
    background-color: yellow;
    filter: blur(2px);
  }
  51% {
    transform: translate(100px, -200px);
    background-color: yellow;
    filter: blur(2px);
  }
  71% {
    transform: translate(-100px, 100px);
    background-color: yellow;
    filter: blur(2px);
  }
  72% {
    transform: translate(-100px, 100px);
    background-color: white;
    filter: blur(2px);
  }
  90% {
    transform: translate(100px, -200px);
    background-color: white;
    filter: blur(2px);
  }
  100% {
    transform: translate(100px, -200px);
    background-color: white;
    filter: blur(2px);
  }
}
.car_bounce {
  animation: carBounce 0.5s linear infinite;
}
@keyframes carBounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.shooting_star {
  width: 4px;
  height: 4px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
  animation: animateStars 0.5s linear infinite;
}
.star_container {
  animation: showStars 5s linear infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  background: linear-gradient(90deg, white, transparent);
}
@keyframes animateStars {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 0.6;
  }
  70% {
    opacity: 0.6;
  }
  100% {
    transform: rotate(315deg) translateX(-100px);
    opacity: 0;
  }
}

.shooting_star:nth-child(1) {
  animation-delay: 0;
  animation-duration: 0.5s;
}
.shooting_star:nth-child(2) {
  animation-delay: 0.2;
  left: 80px;
  animation-duration: 1s;
}
.shooting_star:nth-child(3) {
  animation-delay: 0.4;
  right: 30px;
  animation-duration: 1.2s;
}
.shooting_star:nth-child(4) {
  animation-delay: 0.6;
  left: 60px;
  animation-duration: 0.6s;
}
.shooting_star:nth-child(5) {
  animation-delay: 0.8;
  left: 150px;
  animation-duration: 0.6s;
}
@keyframes showStars {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cloud {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background: white;
  opacity: 0.6;
  animation: moveCloud 5s linear infinite;
}
.cloud:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 15px;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cloud:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 15px;
  background: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.cloud:nth-child(1) {
  right: 10px;
  top: 20px;
  animation-duration: 10s;
}
.cloud:nth-child(2) {
  left: 150px;
  animation-duration: 7s;
}
.cloud:nth-child(3) {
  left: 20px;
  top: 0px;
  animation-duration: 6s;
}
@keyframes moveCloud {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.cloud_container {
  animation: showClouds 5s linear infinite;
}
@keyframes showClouds {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.heart_animation {
  animation: heartGrow 1s;
}
@keyframes heartGrow {
  0% {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 15px red; /* Red shadow */
  }
  100% {
    border-radius: 50%;
    background-color: transparent;
    box-shadow: none; /* No shadow */
  }
}
.loading_text {
  animation: animateText 0.5s linear infinite;
}
@keyframes animateText {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
.geoapify-autocomplete-input {
  @apply dark:placeholder:text-white200 dark:text-white0 bg-white200 dark:bg-gray800 flex-shrink xl:inline-flex px-[1.12rem] xl:h-14 w-full not-italic truncate border-0 rounded-md xl:py-[0.87rem] !important;
}

.geoapify-autocomplete-items {
  @apply dark:border-gray850 dark:bg-gray850 rounded-[0.625rem] !important;
}

.geoapify-autocomplete-items .active {
  @apply dark:bg-gray400 !important;
}

.geoapify-autocomplete-item {
  @apply dark:text-white0 dark:bg-gray800 dark:border-gray850 !important;
}

.icon {
  @apply dark:text-white200 !important;
}

.secondary-part {
  @apply dark:text-white200 !important;
}

.geoapify-close-button {
  @apply hidden !important;
}
